               
                html {
                    scroll-behavior: smooth;
                }
                
                * {
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                    font-family: 'Poppins', sans-serif;
                    -webkit-font-smoothing: antialiased;
                }
                
                
                .space {
                    padding-top: 20px;
                    padding-right: 0px;
                    display: none;
                }
                
                .space>div {
                    background-color: white;
                    width: 20px;
                    height: 5px;
                    margin: 5px 0px;
                }
                
                @media only screen and (max-width:600px) {
                    .nav {
                        display: none;
                    }
                    .space {
                        display: block;
                        cursor: pointer;
                    }
                }
                
                .desktop-area {
                    color: white;
                    margin-top: 2rem;
                    display: flex;
                    flex-wrap: wrap;
                    flex-flow: row;
                    box-sizing: border-box;
                    justify-content: center;
                    align-items: center;
                    justify-content: space-evenly;
                }
                
                .desktop-area .responsive {
                    width: 100%;
                    height: auto;
                    text-align: center;
                    box-shadow: 10px 10px 5px rgb(47, 45, 78);
                }
                
                .desktop-area .paragraph {
                    justify-content: space-between;
                    justify-content: center;
                    box-sizing: border-box;
                    align-content: center;
                    width: 30%;
                }
                
                .paragraph h1 {
                    font-size: 40px;
                }
                
                .paragraph .po {
                    margin-top: 1.5rem;
                    font-size: 13px;
                }
                
                @media only screen and (max-width:600px) {
                    .desktop-area {
                        display: flex;
                        flex-wrap: wrap;
                        flex-flow: column;
                    }
                    .desktop-area .paragraph {
                        justify-content: center;
                        box-sizing: border-box;
                        align-items: center;
                        width: auto;
                        margin: 0px 25px;
                    }
                }
                
                .feat {
                    color: white;
                    align-items: center;
                    text-align: center;
                    font-weight: 400;
                    display: flex;
                    flex-flow: column;
                }
                
                .feat>h1 {
                    margin-bottom: 2rem;
                    margin-top: 3rem;
                }
                
                .triangle {
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    justify-content: space-around;
                    width: 800px;
                }
                
                .triangle>div {
                    padding: 0px 2px;
                }
                
                .text-triangle {
                    display: flex;
                    flex-direction: row;
                    margin-top: 1rem;
                    justify-content: center;
                }
                
                .text1 {
                    box-sizing: border-box;
                    color: white;
                }
                
                .text1>p {
                    width: 600px;
                    font-size: 15px;
                    margin-block-start: 2.33em;
                    margin-block-end: 2.33em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                }
                .logo {
                    color: rgb(211, 53, 53);
                    margin-right: 3rem;
                    font-size: 35px;
                    font-weight: bold;
                    line-height: 80px;
                    font-family: 'Pacifico', cursive;
                }
                
                .logo>span {
                    font-size: 45px;
                }
                
                .logo:hover {
                    cursor: pointer;
                    color: white;
                }
                
                a {
                    color: white;
                    text-decoration: none;
                    padding: 0 5px;
                }
                
                a:hover {
                    color: red;
                }
                
                .c1 {
                    display: flex;
                    flex-flow: row;
                    flex-wrap: wrap;
                    padding: 5px;
                    justify-content: space-between;
                }
                
                .nav {
                    text-align: center;
                    padding: 30px 10px;
                    justify-content: space-evenly;
                    font-size: 16px;
                }
                
                
                @media only screen and (max-width:600px) {
                    .triangle {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        justify-content: space-evenly;
                    }
                    .feat .up1 {
                        width: 0px;
                        height: 0px;
                        border-style: inset;
                        border-width: 200px 120px 0px 120px;
                        border-color: #042344 transparent transparent transparent;
                        transform: rotate(360deg);
                        -ms-transform: rotate(360deg);
                        -moz-transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                        -o-transform: rotate(360deg);
                    }
                    .feat.up1>p {
                        text-align: center;
                        top: -180px;
                        font-size: 10px;
                        left: -47px;
                        position: relative;
                        width: 93px;
                        height: 93px;
                        margin: 0px;
                        color: white;
                        font-size: 11px;
                    }
                    .text-triangle {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        justify-content: space-around;
                        width: 100%;
                    }
                    .text1 {
                        box-sizing: border-box;
                        color: white;
                    }
                    .text1>p {
                        width: auto;
                        align-items: center;
                        justify-content: center;
                        margin-block-start: 2.33em;
                        margin-block-end: 2.33em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        box-sizing: border-box;
                        font-size: 12px;
                        padding: 0px 25px;
                        font-weight: 600;
                    }
                }
                
                .testimonials {
                    padding-bottom: 2.2em;
                    text-align: center;
                    color: white;
                }
                
                .testimonials h1 {
                    color: white;
                    font-size: 1.3em;
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                }
                
                .testimonials .slider {
                    padding: 1em;
                }
                
                .testimonials .slide {
                    text-align: center;
                    padding: 1em 0;
                }
                
                .testimonials img {
                    width: 4.8em;
                    height: 4.8em;
                    border-radius: 50%;
                }
                
                .testimonials .name {
                    color: white;
                }
                
                .testimonials .desig {
                    font-size: 0.7em;
                    padding: 0.5em 0;
                    color: white;
                }
                
                .testimonials .share {
                    margin: 0 auto;
                    width: 5em;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                }
                
                .testimonials i {
                    color: white;
                    padding: 0.5em 0;
                    -webkit-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;
                    cursor: pointer;
                }
                
                .testimonials i:hover {
                    color: black;
                }
                
                .testimonials p {
                    max-width: 27em;
                    margin: 0 auto;
                    font-size: 0.8em;
                }
                
                @media (min-width: 38.4rem) {
                    .testimonials {
                        font-size: 1.2em;
                    }
                    .testimonials .slider {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                    }
                    .testimonials p {
                        text-align: left;
                        padding: 1em;
                    }
                }
                
                .whoweare {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                
                .card {
                    width: 300px;
                    margin: 10px;
                    padding: 10px;
                    color: white;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    
                }
                
                .bottom-section {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-evenly;
                }
                
                @media only screen and (max-width:600px) {
                    .bottom-section {
                        display: flex;
                        flex-flow: column-reverse;
                        align-items: center;
                    }
                    .contact-us {
                        background-color: white;
                        width: 250px;
                        height: 250px;
                        padding: 40px;
                        box-sizing: border-box;
                        margin-bottom: 20px;
                        align-items: center;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
                .about {
                    background-color: pink;
                }